.App {
  text-align: center;
}

.recent-spots {
  width: 95%;
  color: gray;
  padding-left: 5%;
}

.spots-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-template-rows: 1fr;
}